/* set all elements to 0 margin */
* {
    margin: 0;
}

/* set background for body */
body {
    background-color: rgb(238, 244, 247);
}

/* header tag styling */
header {
    background-color: rgb(16, 16, 77);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

/* header anchor tag styling */
header a {
    font-size: 28px;
    color: white;
    min-height: 30px;
    padding: 25px;
    text-decoration: none;
}

/* header paragrapg styling */
header p {
    font-size: 28px;
    color: white;
    min-height: 30px;
    padding: 25px;
}

/* h1 tag styling */
h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

/* main tag styling */
main {
    margin: 0 auto;
}

/* main paragrapg styling */
main p {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* main buttonContainer class styling */
main .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* buttonContainer button styling */
.buttonContainer button {
    background-color: purple;
    color: white;
    font-size: 26px;
    border: 2px solid white;
    border-radius: 40px;
    margin-top: 25px;
    padding: 10px;
    cursor: pointer;
}

/* questionContainer class styling */
.questionContainer {
    margin: 0 auto;
    min-height: 300px;
    visibility: hidden;
    border-radius: 25px;
    flex-wrap: wrap;
}

/* questionContainer class paragraph styling */
.questionContainer p {
    padding: 25px;
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
}

/* questionContainer class h3 styling */
.questionContainer h3 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: .5;
    padding: 25px;
    visibility: hidden;
}

/* questionContainer class buttonContainer class styling */
.questionContainer .questionButtonContainer {
    min-height: 140px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
    padding: 15px;
}

/* questionButtonContainer class styling */
.questionButtonContainer button {
    background-color: purple;
    color: white;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid white;
    border-radius: 40px;
    margin-top: 25px;
    padding: 15px;
    cursor: pointer;
}

/* nextButtonContainer class styling */
.nextButtonContainer {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

/* nectButtonContainer class styling for nextButton id */
.nextButtonContainer #nextButton {
    background-color: rgb(228, 53, 88);
    color: white;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 40px;
    margin-top: 25px;
    padding: 15px;
    cursor: pointer;
}

/* endGameContainer class styling */
.endGameContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    min-height: 200px;
    visibility: hidden;
    border-radius: 25px;;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

/* endGameContainer class paragraph styling */
.endGameContainer p {
    font-size: 44px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(17, 82, 28);
    padding: 15px;
    border: white;
    border-radius: 25px;
}

/* .endGameContainer class button styling */
.endGameContainer button {
    background-color: purple;
    color: white;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid white;
    border-radius: 40px;
    margin-top: 25px;
    padding: 15px;
    cursor: pointer;  
    display: flex; 
    flex-wrap: wrap;
}

/* .endGameContainer class form label styling */
.endGameContainer form label {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: center;
    color: rgb(17, 82, 28);
}

/* .endGameContainer class form input styling */
.endGameContainer form input {
    padding:12px;
    margin: 5px;
    border: 2px solid black;
}

/* userOption class styling */
.userOptions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    min-height: 50px;
    visibility: hidden;
    border-radius: 25px;;
    padding: 15px;
}

/* userOptions class refreshPage button styling */
.userOptions #refreshPage {
    background-color: rgb(16, 16, 77);
    color: white;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid white;
    border-radius: 40px;
    padding: 15px;
    cursor: pointer;   
}

/* userOptions class clearSavedInfo button styling */
.userOptions #clearSavedInfo {
    background-color: rgb(16, 16, 77);
    font-size: 24px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid white;
    border-radius: 40px;
    padding: 15px;
    cursor: pointer;   
}

/* media query styling */
@media only screen and (max-width: 600px) {
    .endGameContainer p {
        font-size: 46px;
        padding: 25px;
    }
}


